# top-most EditorConfig file
root = true

[*]
# General settings for all files
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*c]
# General settings for all files
indent_style = tab
indent_size = 8

# Settings for files with a .sh extension
[*.sh]
indent_style = space
indent_size = 4
shell_variant = bash
switch_case_indent = true
space_redirects = true

# Settings specific to Makefiles
[Makefile]
indent_style = tab

# Stop shfmt from messing with formatting in some files.
[tests/printf.sh]
ignore = true
[function.sh]
keep_padding = true
[menu.sh]
keep_padding = true
[examples/color_example.sh]
keep_padding = true
[src/**]
ignore = true
[standalone/**]
ignore = true
